@use '../../style/variables.scss' as vars;


.profile-settings {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title {
		margin-top: 40px;
		width: 720px;
	}

	.profile-form {
		padding: 20px 16px 24px 16px;
		width: 720px;
		margin-top: 40px;
		border-radius: 8px;
		border: 1px solid vars.$c-light-gray;

		form {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 3fr 1fr 1fr 2fr 0.5fr;

			input,
			textarea {
				box-shadow: 0 4px 4px #ddd;
				border: 1px solid vars.$c-light-gray;
			}

			.form-group {
				display: flex;
				flex-direction: column;

				input {
					margin-top: 4px;
				}

				padding: 8px;
			}

			#email {
				background-color: #eee;
			}

			.bio {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 4;
				grid-row-end: 5;

				textarea {
					height: 100%;
					border-radius: 8px;
					padding: 10px 12px;
					resize: none;
				}
			}

			button[type=submit] {
				width: 80px;
				height: 33px;
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 5;
				grid-row-end: 6;
				display: flex;
				justify-content: center;
				align-items: center;
				line-height: 0;
				justify-self: flex-end;

				span {
					margin-right: 6px;
				}
			}
		}
	}
}