@use '../../style/variables.scss' as vars;

.project {
	border: 1px solid vars.$c-light-gray;
	display: flex;
	width: 100%;
	padding: 12px;
	margin-top: 36px;
	border-radius: 8px;
	.project-image {
		position: relative;
		width: 200px;
		height: 140px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #cdd5e0;
		overflow: hidden;
		border-radius: 8px;

		.project-preview { // Remove dependency on .preview-wrapper
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: auto;
			height: 140px;
		}
	}

	.project-content {
		width: 447px;
		padding-left: 24px;

		.project-text {
			flex-direction: column;

			.project-title {
				width: 100%;
				font-size: 16px;
				text-align: left;
			}

			.description {
				font-size: 14px;
				margin-top: 8px;
				min-height: 60px;


			}
		}

		.card-buttons {
			display: flex;

			.edit-button,
			.delete-button {
				padding: 8px 12px;
				border-radius: 8px;
				border: none;
				margin-top: 16px;
				background-color: #f2f5f9;
				display: flex;

				span {
					margin-right: 6px;
				}
			}

			.delete-button {
				color: #DD524C;
				background-color: #f8d7da;
				margin-left: 8px;
			}

		}


		.repository-button,
		.demo-button {
			padding: 8px 12px;
			border-radius: 8px;
			border: none;
			margin-top: 16px;
			background-color: transparent;
			border: 1px solid vars.$c-light-gray;
			margin-right: 12px;

			span {
				margin-left: 6px;
			}
		}
	}
}